    @{
    ViewData["Title"] = "Login";
    ViewBag.MostrarNavbar = false;
    }
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <div class="login">
        <h1>Iniciar Sesión</h1>

        <form action='@Url.Action("Login","Home")' method="post" id="login-form" >
            <label for="UserName">Usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Introduce tu nombre" required>
            <label for="Contrasena">Contrasena</label>
            <div class="password-input">
                <input type="password" name="Contrasena" id="Contrasena" placeholder="Introduce tu Contrasena" required>
                <i class="fas fa-eye" id="toggle-password"></i>
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>

        <p><a href='@Url.Action("ViewRegister", "Home")'>Registrarse</a></p>
    </div>