body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.anashe{
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: center;
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

 button a {
    color: white;
    text-decoration: none;
}

p {
    text-align: center;
    margin-top: 10px;
}


.alert-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    animation: fadeIn 1s ease, fadeOut 1s ease 3s forwards;
}


#login-form {
    margin-top: 20px;
}


#registration-form {
    margin-top: 20px;
}


#forgot-password-form {
    margin-top: 20px;
}


.return-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.return-link:hover {
    color: #0056b3;
}

.botonF{
    margin-top: 8px;
    margin-left: 115px;
}

.fondo{
    background-color: #111;
}

